@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff
	--foreground: #09090b
	--card: #ffffff;
	--card-foreground: #09090b;
	--popover: #ffffff;
	--popover-foreground: #09090b;
	--primary: #16a34a;
	--primary-foreground: #fff1f2;
	--secondary: #f4f4f5;
	--secondary-foreground: #18181b;
	--muted: #000000;
	--muted-foreground: #71717a;
	--accent: #000000;
	--accent-foreground: #18181b;
	--destructive: #ef4444;
	--destructive-foreground: #fafafa;
	--warn: #c68d2a;
	--warn-foreground: #f6ead5;
	--border: #e4e4e7;
	--input: #e4e4e7;
	--ring: #16a34a;

	
	--radius: 0.75rem;

	
	--z-index-header: 100;
	--z-index-select: 150;
	--z-index-menu: 200;
	--z-index-menu-btn: 250;
	--z-index-search-list: 300;
	--z-index-modal: 1000;
	--z-index-modal-overlay: 900;

	
	--container-max-width: 1760px;
	--scrollbar: #22c55e;
	--scrollbar-hover: #16a34a;

	--vw: 100vw;
	--vh: 100vh;
}

.dark {
	--background: #232923;
	--home: #030705;
	--foreground: #f2f2f2;
	--card: #171c17;
	--card-foreground: #f2f2f2;
	--popover: #171717;
	--popover-foreground: #f2f2f2;
	--primary: #22c55e;
	--primary-foreground: #052e16;
	--secondary: #27272a;
	--secondary-foreground: #fafafa;
	--muted: #262626;
	--muted-foreground: #a1a1aa;
	--accent: #292524;
	--accent-foreground: #fafafa;
	--destructive: #7f1d1d;
	--destructive-foreground: #fef2f2;
	--border: #3d3d42;
	--input: #3d3d42;
	--ring: #15803d;
}
